VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-public-anon-key
VITE_SITE_URL=https://rgpvdiploma.vercel.app/
VITE_API_URL=https://rgpv-hub.onrender.com
VITE_ADMIN_EMAILS=admin@example.com
